<html >
<head>
  
</head>
<body style="margin:0px;">
    <table style="width:100%; border-collapse:collapse;
         font:14px Arial,sans-serif;">
    <tr>
     <td colspan="2" style="padding:10px; background-color:#16641a;">
     <h1 style="font-size:24px; color:#fbfffb;">
        Welcome to GeeksforGeeks</h1>
     </td>
        </tr>
        <tr style="height:300px;">
        <td style="width:20%; padding:20px; 
            background-color:#ffffff; ">
        <ul style="list-style:none; padding:0px; 
               line-height:24px;">
        <li><a href="#" style="color:rgb(70, 192, 59);">
           Coding</a></li><br>
        <li><a href="#" style="color:rgb(70, 192, 59);;">
            WebTechnology</a></li><br>
        <li><a href="#" style="color:rgb(70, 192, 59);">
           DSA</a></li>
          </ul>
      </td>
        <td style="padding:20px; 
        background-color:#5c9b37; vertical-align:top;">
           <h2>Way to gain knowledge</h2>
        <ul style="list-style:none; padding:0px; line-height:24px;">
        <li style="color:#ffffff;">Learn</a></li><br>
        <li style="color:#ffffff;">Practice</a></li><br>
        <li style="color:#ffffff;">Apply to real world</a></li>
        </ul>
        </td>
    </tr>
    <tr>
       <td colspan="2" style="padding:5px; 
          background-color:#2b2a2a; text-align:center;">
      <p style="color:#ffffff;">copyright © 
         geeksforgeeks, Some rights reserved</p>
  
            </td>
        </tr>
    </table>
</body>
</html>